/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box

} */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
    line-height: 26px;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.bg-header{
    background-color: rgba(255, 144, 14, 0.1);
}
main >section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
 }

/* header style */

/* navbar related style*/
.navbar{  
    justify-content: space-between;
    align-items: center;

}
.brand-name{
    font-size: 2.8rem;
}
.nav-links{
    gap: 30px;
}
.nav-item{
    list-style: none;   
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 26px;
}
.navbar,.banner,main{
    max-width: 75%;
    margin: 0 auto;
}

/* banner-related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.b-title{
    font-size: 4rem;
    font-weight: 700;
}
.b-image{
    width: 100%;
    margin-bottom: 45px;
}
 /* main style  */

/* team and features relates design */

 .features{
    justify-content: center;
    align-items: center;
    gap: 130px;

 }
 .f-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
 }
 .f-content{
    max-width: 537px;
 }
 
 #quik-list{
    font-weight: 500;
 }
 .f-last{
    color: #FF900E;
 }
 /* facts related style */
 .facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
 }
 .facts-box{
    margin-top: 100px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
 }
 .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:9px;
    margin-bottom: 5px;
    color: #424242;
 }
 .fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
 }

 /* sponsor-section style */
 .sponsor-content{
    max-width: 542px;
    text-align: center;
    margin: 50px auto;
 }
 .sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 155px;
 }
 .sponsor-company img{
    filter: grayscale(100%);
 }



 
/* Responsive media query */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .features
    {
        flex-direction: column;
    }
    .f-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container,
    .sponsor-company{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .sponsor-company{
        row-gap: 60px;
    }

    
}
@media screen and (min-width:577px) and (max-width:992px) {
    .features{
        flex-direction: column;
    }
    .facts-container,
    .sponsor-company{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    
    
}


